%script{:src => "https://code.jquery.com/jquery-3.4.1.min.js"}
%script{:src => "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"}
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"}
%script{:src => "/socket.io/socket.io.js"}
%script var socket = io();
