@font-face {
    font-family: 'DiscordLogo';
    src:    url("../fonts/UniSansHeavy.woff2") format("woff2"),
            url("../fonts/UniSansHeavy.woff") format("woff");
    font-weight: normal;
    font-style: normal; 
}